<app-header (userLoggedIn)="userLoggedIn($event)"></app-header>

<main>
    @if (this.loggedIn || !this.featureFlags.microsoft365Enabled) {
        <div>
            <app-customers-list (customerSelected)="customerSelected($event)"></app-customers-list>
            <br />
            <div id="related-content"></div>
        </div>
    }
    @if (!this.loggedIn && this.featureFlags.microsoft365Enabled) {
        <div>
            <h2>{{ signInMessage }}</h2>
        </div>
    }
    <app-overlay [delay]="300">
        <span class="spinner"></span>&nbsp;&nbsp;&nbsp;Working...
    </app-overlay>
</main>

<router-outlet></router-outlet>