.home-icon {
    margin-top: 0px;
    margin-right: 5px;
}

.title {
    margin-top: 3px;
}

.spacer {
    flex: 1 1 auto;
}

// mgt-login {
//     // --button-background-color: #3f51b5;
//     // --button-color--hover: #fff;
// }

mgt-login {
    --login-signed-in-background: transparent;
    --login-signed-in-hover-background: #565656;
    --login-popup-background-color: #3f51b5;
    --login-button-padding:5px;
    --login-popup-padding: 8px;

    /** person component tokens **/
    --person-line1-text-color: whitesmoke;
    --person-line2-text-color: white;
  }