.header {
    display: grid;
    background-color: var(--dark-blue);
    color: var(--white);
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
    height: 150px;
}

.header h4 {
    margin-top: 20px;
}