.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "feature-1 feature-2 feature-3";
    grid-gap: 1rem;  
    justify-items: center;
    padding: 30px 30px 0px 30px;
    margin-bottom: 30px;

    .feature {
        border: 1px solid var(--border-color);
        background-color: var(--light-gray);
    }
    
    .feature a {
        text-decoration: none;
    }
    
    .feature img {
        object-fit: cover;
        width: 100%;
        height: auto;
        border-bottom: 1px solid var(--border-color);
    }
    
    .feature-1 {
        grid-area: feature-1;
    }
    
    .feature-2 {
        grid-area: feature-2;
    }
    
    .feature-3 {
        grid-area: feature-3;
    }
    
    .feature-header {
        color: var(--black);
        width: 100%;
        text-align: center;
    }
    
    .feature-footer {
        text-align: center;
        background-color: var(--light-gray);
        color: var(--black);
        padding: 10px 10px 5px 10px;
        height: 80px;
    }
    
    .feature-footer p {
        margin-top: 5px;
        text-align: center;
        color: var(--black);
    }
    
    .feature-footer .icon {
        height: 18px;
        width: 18px;
        margin-right: 5px;
    }
}

