.search-container {
    display: grid;
    grid-template-columns: 250px auto auto;
    grid-template-rows: 40px 40px 1fr;    
    grid-template-areas: 
        "search-input-header search-results-header related-content-header"
        "search-input search-results related-content"
        "search-filter search-results related-content";
    border: 1px solid var(--border-color);   
}

.search-container h3 {
    color: var(--black);
}

.search-input-header {
    grid-area: search-input-header;
}

.search-input-header h2 {
    font-size: 1.2rem;
    background-color: var(--light-blue);
    color: var(--white);
    padding: 10px 0px 10px 15px;
    border-right: 1px solid var(--border-color);
}

.search-input {
    grid-area: search-input;
    padding: 20px 0px 0px 30px;
    border-right: 1px solid var(--border-color);
}

.search-input input {
    transform: scale(1.3);
}

.search-filter {
    grid-area: search-filter;
    margin-left: 15px;
    padding: 20px 0px 10px 0px;
    border-right: 1px solid var(--border-color);
}

.search-results-header {
    grid-area: search-results-header;
}

.search-results-header h2 {
    font-size: 1.2rem;
    background-color: var(--light-blue);
    color: var(--white);
    padding: 10px 20px 10px 15px;
    margin-bottom: 20px;
}

.related-content-header {
    grid-area: related-content-header;
}

.related-content-header h2 {
    font-size: 1.2rem;
    background-color: var(--light-blue);
    color: var(--black);
    padding: 10px 20px 10px 15px;
    margin-bottom: 20px;
    border-left: 1px solid var(--border-color);
}

.related-content {
    grid-area: related-content;
    padding: 10px 0px 10px 15px;
    border-left: 1px solid var(--border-color);
}

.related-content h3 {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
}

.search-result-related-content {
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    color: var(--light-blue);
}

.checkbox-group {
    margin-bottom: 5px;
}

.checkbox-group h4 {
    margin-left: -5px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 760px) { 
    .search-container {
        grid-template-columns: 150px auto; 
    }

    .search-input {
        padding: 20px 0px 0px 10px;
    }

    .search-input input {
        transform: scale(1.0);
        width: 95%;
    }

}