.search-result {
    padding: 10px 10px 15px 10px;
    margin-bottom: 10px;
    cursor: pointer;

    .search-result-cloud-categories {
        margin-bottom: 10px;
        font-style: italic;
    }
    
    .search-result-highlight {
        background-color: var(--border-color);
    }
    
    .search-result-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .search-result-description {
        font-size: 1rem;
    }
    
    .search-result-button-container {
        margin-top: 20px;
    }
    
    .search-result-button {
        background-color: var(--green);
        color: #fff;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
        margin: 20px 0px 20px 0px;
        cursor: pointer;
    }
}