.search-results {
    grid-area: search-results;
    width: 100%;
    padding-top: 10px;
}

.search-results-list {
    padding: 0px 20px 20px 20px;
}

.search-result {
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.search-result-cloud-categories {
    margin-bottom: 10px;
    font-style: italic;
}

.search-result:hover, .search-result-highlight {
    background-color: var(--border-color);
}

.search-result a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.search-result-icon {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.search-result-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-result-description {
    font-size: 1rem;
}