:root {
    --border-color: #e1e1e1;
    --light-gray: #f0f0f0;
    --light-blue: #3498db;
    --dark-blue: #253A5E;
    --dark-gray: #8c8c8c;
    --green: #4db42b;
    --white: #fff;
    --black: #000;
    --page-margins: 0px 30px 0px 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: var(--white);    
}

h1 {
    color: var(--white);
    text-align: left;
    line-height: 1.4;
    font-size: 2.2rem;
    letter-spacing: 1.2px;
}

h4 {
    letter-spacing: 1px;
}

h3 {
    color: var(--black);
    line-height: 1.4;
    
}

.container {
    width: 100%;
}

.content {
    margin: var(--page-margins);
}

.footer {
    margin: 20px 30px 20px 30px;
}

.item {
    align-items: center;
}

@media only screen and (max-width: 760px) { 
    h1 {
        font-size: 1.4rem;
    }

    .features {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "feature-1"
            "feature-2"
            "feature-3";
        row-gap: 1rem;
    }

    .feature {
        height: 75%;
    }

    .feature-footer h3 {
        font-size: 1rem;
    }
}