.root {
    display: flex;
    min-height: 75px;
    background: white;
}

.time-container {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date {
    font-size: 13px;
    font-weight: bold;
}

.time {
    display: inline;
    font-size: 12px;
}

.location {
    font-size: 12px;
}

.details {
    margin-bottom: 20px;
    margin-top: 16px;
    font-size: 18px;
    min-width: 180px;
    padding-left: 5px;
    width: 400px;
}

.separator {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.vertical-line {
    align-content: center;
    width: 4px;
    background-color: #e5f2f3;
}

.vertical-line.top {
    height: 16px;
}

.vertical-line.bottom {
    flex: 1;
}

.circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    border: 2px solid #e5f2f3;
}

.circle .inner-circle {
    position: absolute;
    background-color: #307176;
    border-radius: 50%;
    height: 8px;
    width: 8px;

    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
}

.online-meeting {
    font-size: 10px;
    margin-top: 8px;
}

.online-meeting-icon {
    max-width: 16px;
    vertical-align: middle;
}

.online-meeting-link {
    text-decoration: none;
    color: #3063b2;
}

.attendees {
    margin-top: 8px;
}

.attendee {
    display: inline-block;
}

mgt-agenda {
    margin: 20px;
}

mgt-person {
    --avatar-size-s: 16px;
    margin-right: 4px;
    display: inline-block;
}